.fl-cell-align-v-center,
.fl-cell-align-v-end,
.fl-cell-align-h-center,
.fl-cell-align-h-end {
  display: flex;
}
.fl-cell-align-v-center {
  align-items: center;
}
.fl-cell-align-v-end {
  align-items: flex-end;
}
.fl-cell-align-h-center {
  justify-content: center;
}
.fl-cell-align-h-end {
  justify-content: flex-end;
}
.fl-cell-align-v-center > .fl,
.fl-cell-align-v-end > .fl,
.fl-cell-align-h-center > .fl,
.fl-cell-align-h-end > .fl {
  flex-grow: 1;
}